<ion-header>
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Tu perfil</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="none">
          <ion-list-header>
            <ion-label>Perfil</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-icon slot="start" color="medium" name="happy"></ion-icon>
            <ion-label>Nombre: {{data.name}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" color="medium" name="mail"></ion-icon>
            <ion-label>Correo: {{data.email}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" color="medium" name="hourglass"></ion-icon>
            <ion-label>Edad: {{data.age}} años</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
</ion-content>
