<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My Navigation Bar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h3>
          Lista
          <span style='position: absolute; right: 0px; color:rgb(19, 102, 102); font-weight: 700;'> 
            $1500.00
            <ion-button size='small' fill='clear'>
              <ion-icon slot='icon-only' name='more'></ion-icon>
            </ion-button>
          </span>
        </h3>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h3>
          Lista
          <span style='position: absolute; right: 0px; color:rgb(19, 102, 102); font-weight: 700;'> 
            $1500.00
            <ion-button size='small' fill='clear'>
              <ion-icon slot='icon-only' name='more'></ion-icon>
            </ion-button>
          </span>
        </h3>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h3>
          Lista
          <span style='position: absolute; right: 0px; color:rgb(19, 102, 102); font-weight: 700;'> 
            $1500.00
            <ion-button size='small' fill='clear'>
              <ion-icon slot='icon-only' name='more'></ion-icon>
            </ion-button>
          </span>
        </h3>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  
</ion-content>
